# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Test reports
reports/*.html

# Screenshots
screenshots/*.png

# Logs
logs/*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store